@import "src/styles/mixins";

.header {
  @include fluid(padding-top, 10px, 15px);
  @include fluid(padding-bottom, 10px, 15px);
  display: flex;
  top: 0;
  width: 100%;
  z-index: 3;
  background: $background;
  transition: $trn;
}
.block {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
}

.nav {
  @include fluid(margin-left, 30px, 55px);
}
.flex {
  display: flex;
  align-items: center;
  gap: 30px;
}
.link {
  @include fluid(font-size, 14px, 16px);
  @include fluid(margin-right, 20px, 30px);
  position: relative;
  font-weight: 400;
  transition: $trn;
  color: $textColor;
  &:hover {
    color: $primary;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: $trn;
    background: $primary;
    width: 0;
    border-radius: 3px;
    @include fluid(bottom, -5px, -10px);
    @include fluid(height, 2px, 3px);
  }

  &:last-child {
    margin-right: 0;
  }
}
