@tailwind base;
@tailwind components;
@tailwind utilities;

@import "lib";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus-visible {
    outline: 1px solid $primary;
  }
}

html {
  scroll-behavior: smooth;
  transition: $trn;
  background: $background;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-weight: 400;
  font-style: normal;
  @include fluid(font-size, 12px, 14px);
  line-height: 1.7;
  overflow-x: hidden;
}

.light {
  --text-color: #333;
  --background: #fff;
  --primary: green;
}

.dark {
  --text-color: #fff;
  --background: #333;
  --primary: green;
}
.container {
  @include container;
}
//код для скелетонов
@layer components {
  .sk-wrapper {
    @apply bg-white dark:bg-cyan-900;
  }

  .sk-item {
    @apply bg-slate-200 dark:bg-slate-500;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}
