@import 'src/styles/mixins';

.footer {
  @include fluid(padding-top, 30px, 60px);
  @include fluid(padding-bottom, 20px, 50px);
  background: #1e1e1e;
  color: #B3B3B3;
}

.block {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bottom {
  @include fluid(padding-top, 20px, 40px);
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.political {
  display: flex;
  align-items: center;
  @include fluid(gap, 20px, 30px);
}

.item {
  display: flex;
  @include fluid(gap, 50px, 131px);
  width: 50%;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listWrapper {
  display: block;
  width: 49%;
  margin-bottom: 10px;
}
.menuWrapper {
  display: block;
  margin-bottom: 10px;
}
.subtitle {
  @include fluid(font-size, 18px, 20px);
  margin-bottom: 20px;
  color: #fff;
}

.link {
  display: block;
}

.phone {
  @include fluid(font-size, 14px, 16px);;
  margin-bottom: 7px;
  display: block;
}

.link,
.mail,
.phone,
.svg {
  @include fluid(font-size, 12px, 14px);
  transition: $trn;
  color: #B3B3B3;

  &:hover {
    color: #fff;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoWrapper {
  @include fluid(margin-top, 30px, 50px);
  display: flex;
  flex-direction: column;
}
